<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StereoTypist</title>

        <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://aws.andrewarpasi.com/stereotypist-s4-bucket/css/flat.css" rel="stylesheet">
     <!-- chartist css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/game.css">

    <body>
        <div class="container-fluid m-0 p-0 game-container">
            <div class="container pt-4">
                <div class="row">
                    <!--Navbar-->
                    <nav class="navbar navbar-expand-lg no-shadow navbar-dark w-100">

                        <!-- Navbar brand -->
                        <a class="navbar-brand light-text font-400" href="/">StereoTypist</a>

                        <!-- Collapse button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <%= render "shared/navbar" %>

                    </nav>
                    <!--/.Navbar-->
                </div>

                <% if notice || alert then %>
                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= notice %>
                        <%= alert %>
                    </div>
                <% end %>

                <div class="row mt-4 mb-4">
                    <div class="col">
                        <h2 class="dark-text text-left font-400" id="promptTitle">Type this text:</h2>
                        <div class="light-text" id="promptText"></div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col text-center">
                        <!-- Small input -->
                        <div class="md-form form-sm">
                            <input type="text" class="form-control form-control-sm light-text" id="typeInput">
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col text-center">
                        <h2 class="font-weight-bold light-text" id="wpm"></h2>
                    </div>
                    <div class="col-12 text-center">
                        <h2 class="font-weight-bold light-text" id="timeleft"></h2>
                    </div>
                </div>

                <div class="row mt-4" id="lobby-row">
                    <div class="col-12 mb-3 text-center">
                        <h4 class="card-title mb-2 dark-text mb-3">Send this link to your friends so they can join the fun</h4>
                        <h4 class="card-subtitle light-text mb-3" id="gameUrl"></h4>
                    </div>
                    <div class="col-12 text-center">
                        <button class="st-button" id="startButton">
                            <i class="fa fa-play mr-1"></i>
                            <span>START</span>
                        </button>
                    </div>
                </div>

                <div class="row mt-4" id="gameinfo-row">
                    <div class="col-12 text-center">
                        <h4 class="light-text font-400" id="gameinfo"></h4>
                    </div>
                </div>

                <div class="row mt-4 justify-content-center" id="chart-row">
                    <div class="ct-chart white-text"></div>
                </div>

                <!-- code for chart  -->
                <!-- end of the code for chart -->

                <div class="row mt-4" id="players-row">
                    <div class="col-12">
                        <div class="card st-card w-75 mx-auto">
                            <!--Table-->
                            <table class="table table-hover table-responsive-md">

                                <!--Table head-->
                                <thead>
                                    <tr>
                                        <th class="th-lg d-dark-text" style="width: 50px">#</th>
                                        <th class="th-lg text-left d-dark-text">Player Name</th>
                                    </tr>
                                </thead>
                                <!--Table head-->

                                <!--Table body-->
                                <tbody id="players-tbody"> </tbody>
                                <!--Table body-->

                            </table>
                            <!--Table-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Login Modal -->
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="login_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
                        <div class="modal-body mx-3">
                            <div class="md-form mb-5">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="email" name="user[email]" id="user_email_login" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="user_email_login">Your email</label>
                            </div>

                            <div class="md-form mb-4">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="password" name="user[password]" id="user_password_login" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="user_password_login">Your password</label>
                            </div>

                            <div class="md-form mb-4">
                                <i class="fa fa-lock prefix grey-text hidden" style="visibility: hidden"></i>
                                <input name="user[remember_me]" type="hidden" value="0">
                                <input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
                                <label for="user_remember_me">Remember me</label>
                            </div>

                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <input class="btn btn-indigo" type="submit" name="commit" value="Log in" data-disable-with="Log in">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Register Modal -->
        <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="new_user" action="/users" accept-charset="UTF-8" method="post">
                        <div class="modal-body mx-3">
                            <!-- Name -->
                            <div class="md-form mb-5">
                                <i class="fa fa-user prefix grey-text"></i>
                                <input type="text" name="user[display_name]" id="user_display_name" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="user_display_name">Your name</label>
                            </div>
                            <!-- Email -->
                            <div class="md-form mb-5">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="email" name="user[email]" id="user_email" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="user_email">Your email</label>
                            </div>
                            <!-- Password -->
                            <div class="md-form mb-5">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="password" name="user[password]" id="user_password" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="user_password">Your password</label>
                            </div>
                            <!-- Password Confirmation -->
                            <div class="md-form mb-4">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="user_password_confirmation">Confirm password</label>
                            </div>

                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <input class="btn btn-indigo" type="submit" name="commit" value="Sign up" data-disable-with="Sign up">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://aws.andrewarpasi.com/stereotypist-s4-bucket/js/mdb.min.js"></script>
         <!-- Chartist JavaScript -->
        <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

        <script src="/dist/game.bundle.js"></script>
    </body>

</html>