<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StereoTypist</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://aws.andrewarpasi.com/stereotypist-s4-bucket/css/flat.css" rel="stylesheet">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/game.css">

    <body>
        <div class="container-fluid m-0 p-0 pb-5 game-container">
            <div class="container pt-4">
                <div class="row">
                    <!--Navbar-->
                    <nav class="navbar navbar-expand-lg no-shadow navbar-dark w-100">

                        <!-- Navbar brand -->
                        <a class="navbar-brand light-text font-400" href="/">StereoTypist</a>

                        <!-- Collapse button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <%= render "shared/navbar" %>

                    </nav>
                    <!--/.Navbar-->
                </div>

                <% if notice || alert then %>
                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= notice %>
                        <%= alert %>
                    </div>
                <% end %>

                <div class="row mt-5">
                    <div class="col-12">
                        <h1 class="dark-text">Create a new game</h1>
                    </div>
                    <div class="col-12 pt-2 text-center">
                        <a href="/game" class="btn-flat d-dark-text st-button st-button-lg">
                            <i class="fa fa-plus-circle mr-1"></i>
                            <span>NEW GAME</span>
                        </a>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <h1 class="dark-text">Look for an open game</h1>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col">
                        <div class="card st-card card-cascade narrower">

                            <!--Card image-->
                            <div class="view gradient-card-header indigo narrower py-3 mx-4 mb-3 d-flex justify-content-between align-items-center">
                                <span class="white-text mx-auto">AVAILABLE GAMES</span>
                            </div>
                            <!--/Card image-->

                            <div class="px-4">

                                <div class="table-wrapper">
                                    <!--Table-->
                                    <table class="table res-table w-100 mb-0">

                                        <!--Table head-->
                                        <thead>
                                            <tr>
                                                <th class="hidden-md-down"> </th>
                                                <th class="th-lg hidden-md-down">
                                                    <a>Game ID
                                                        <i class="fa fa-sort ml-1"></i>
                                                    </a>
                                                </th>
                                                <th class="th-lg">
                                                    <a href="">Num Players
                                                        <i class="fa fa-sort ml-1"></i>
                                                    </a>
                                                </th>
                                                <th class="th-lg">
                                                    <a href="">Join
                                                        <i class="fa fa-sort ml-1"></i>
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <!--Table head-->

                                        <!--Table body-->
                                        <tbody id="games-tbody"> </tbody>
                                        <!--Table body-->
                                    </table>
                                    <!--Table-->
                                </div>

                                <hr class="my-0">

                                <!--Bottom Table UI-->
                                <div class="d-flex justify-content-between"> </div>
                                <!--Bottom Table UI-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Login Modal -->
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="login_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
                        <div class="modal-body mx-3">
                            <div class="md-form mb-5">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="email" name="user[email]" id="user_email_login" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="user_email_login">Your email</label>
                            </div>

                            <div class="md-form mb-4">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="password" name="user[password]" id="user_password_login" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="user_password_login">Your password</label>
                            </div>

                            <div class="md-form mb-4">
                                <i class="fa fa-lock prefix grey-text hidden" style="visibility: hidden"></i>
                                <input name="user[remember_me]" type="hidden" value="0">
                                <input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
                                <label for="user_remember_me">Remember me</label>
                            </div>

                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <input class="btn btn-indigo" type="submit" name="commit" value="Log in" data-disable-with="Log in">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Register Modal -->
        <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="new_user" action="/users" accept-charset="UTF-8" method="post">
                        <div class="modal-body mx-3">
                            <!-- Name -->
                            <div class="md-form mb-5">
                                <i class="fa fa-user prefix grey-text"></i>
                                <input type="text" name="user[display_name]" id="user_display_name" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="user_display_name">Your name</label>
                            </div>
                            <!-- Email -->
                            <div class="md-form mb-5">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="email" name="user[email]" id="user_email" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="user_email">Your email</label>
                            </div>
                            <!-- Password -->
                            <div class="md-form mb-5">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="password" name="user[password]" id="user_password" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="user_password">Your password</label>
                            </div>
                            <!-- Password Confirmation -->
                            <div class="md-form mb-4">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="user_password_confirmation">Confirm password</label>
                            </div>

                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <input class="btn btn-indigo" type="submit" name="commit" value="Sign up" data-disable-with="Sign up">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://aws.andrewarpasi.com/stereotypist-s4-bucket/js/mdb.min.js"></script>

        <script src="dist/index.bundle.js"></script>
    </body>

</html>